@font-face {
    font-family: "Pixelify Sans";
    src: url(./fonts/PixelifySans/PixelifySans-VariableFont_wght.ttf);
}

* {
    font-family: "Pixelify Sans" !important;
}

button:hover {
    cursor: pointer;
}

#headerContent {
    width: 100%;
    max-width: 1920px;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ec7872;
    background-color: #522258;
    height: 80px;
}

#heading, #search {
    display: flex;
    align-items: center;
}

#heading {
    cursor: pointer;
}

#heading img {
    width: 60px;
    padding: 16px;
}

#search button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: none;
    background: none;
}

#search button:hover {
    border: 3px solid #ec7872;
}

#search img {
    width: 30px;
}

#searchInput {
    margin: 10px;
    border: none;
    padding: 5px;
}

#searchInput:focus-visible {
    outline: none;
}

h1, h2, h3 {
    margin: 0;
}

main {
    background: linear-gradient(0, #8C3061, #C63C51, #ec7872, #C63C51, #8C3061);
    min-height: calc(100vh - 160px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 60px;
}

#mainContent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 60px;
    width: 100%;
    max-width: 1920px;
    gap: 50px;
}

#loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

#loading img {
    width: 200px;
    height: 200px;
    padding: 50px;
    filter:opacity(0.8) brightness(2);
}

#loadingBarContainer {
    height: 20px;
    width: 100%;
    background-color: rgb(255, 235, 235);
    border: 3px solid rgb(255, 235, 235);
}

#loadingBar {
    height: 100%;
    width: 0%;
    background-color:#8C3061;
}

#loading span {
    font-size: 18px;
}

#loadMoreBtn {
    margin: 30px;
    width: 200px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(223, 223, 223);
    font-size: 16px;
    border: 1px solid rgb(223, 223, 223);
    display: none;
}

#loadMoreBtn:hover {
    border: 3px solid rgb(223, 223, 223);
}

#noRes {
    font-size: 20px;
    color: white;
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ec7872;
}

::-webkit-scrollbar-thumb {
    background-color: #8C3061;
}