.typeIcon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    border-radius: 100%;
    padding: 2px;
    width: 16px;
    height: 16px;
    border: 3px solid black;
    margin: 2px;
}

.normal {
    background-image: url(../res/normal.png);
    background-color: rgb(182, 182, 182);
}

.fighting {
    background-image: url(../res/fighting.png);
    background-color: rgb(123, 139, 148);
}
.flying {
    background-image: url(../res/flying.png);
    background-color: rgb(136, 196, 216);
}
.poison {
    background-image: url(../res/poison.png);
    background-color: #A45294;
}
.ground {
    background-image: url(../res/ground.png);
    background-color: #8B6218;
}
.rock {
    background-image: url(../res/rock.png);
    background-color: #948B7B;
}
.bug {
    background-image: url(../res/bug.png);
    background-color: brown;
}
.ghost {
    background-image: url(../res/ghost.png);
    background-color: #D5ACCD;
}
.steel {
    background-image: url(../res/steel.png);
    background-color: #7C7B7B;
}
.fire {
    background-image: url(../res/fire.png);
    background-color: #E64110;
}
.water {
    background-image: url(../res/water.png);
    background-color: #5A8BCD;
}
.grass {
    background-image: url(../res/leaf.png);
    background-color: #5ead57;
}
.electric {
    background-image: url(../res/electric.png);
    background-color: #F6BD20;
}
.psychic {
    background-image: url(../res/psychic.png);
    background-color: rgb(126, 60, 126);
}
.ice {
    background-image: url(../res/ice.png);
    background-color: #D5CDEE;
}
.dragon {
    background-image: url(../res/dragon.png);
    background-color: rgb(136, 30, 30);
}
.dark {
    background-image: url(../res/dark.png);
    background-color: darkblue;
}
.fairy {
    background-image: url(../res/fairy.png);
    background-color: rgb(170, 83, 170);
}
.stellar {
    background-image: url(../res/stellar.png);
    background-color: rgb(228, 228, 44);
}
.unknown {
    background-image: url(../res/unknown.png);
    background-color: grey;
}